In [1]:
import pandas as pd

In [2]:
org_data = pd.read_csv("railway.csv")

In [3]:
data = org_data.copy()

In [4]:
data.sample(5)

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
28024,f3461f8f-03ec-40f0-9324,17-04-2024,02:14:54,Station,Contactless,NaN,Standard,Advance,35,London Kings Cross,York,18-04-2024,00:30:00,02:20:00,02:20:00,On Time,NaN,No
14693,65e9f9a2-3062-498a-87a9,18-02-2024,20:12:49,Station,Contactless,NaN,Standard,Off-Peak,19,London Paddington,Reading,18-02-2024,21:30:00,22:30:00,22:30:00,On Time,NaN,No
23939,2dc48290-4e59-4ebc-a4f0,01-04-2024,14:38:40,Online,Contactless,NaN,Standard,Advance,35,London Kings Cross,York,02-04-2024,13:00:00,14:50:00,14:50:00,On Time,NaN,No
19554,3542e38a-6a5b-47a3-9b8a,15-03-2024,10:26:36,Online,Credit Card,NaN,Standard,Off-Peak,53,London Kings Cross,York,15-03-2024,11:45:00,13:35:00,13:35:00,On Time,NaN,No
29447,7f7cd23f-0625-4b94-850f,22-04-2024,08:14:16,Online,Debit Card,NaN,Standard,Advance,72,London Euston,Manchester Piccadilly,23-04-2024,06:30:00,08:20:00,08:20:00,On Time,NaN,No

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction ID       31653 non-null  object
 1   Date of Purchase     31653 non-null  object
 2   Time of Purchase     31653 non-null  object
 3   Purchase Type        31653 non-null  object
 4   Payment Method       31653 non-null  object
 5   Railcard             10735 non-null  object
 6   Ticket Class         31653 non-null  object
 7   Ticket Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure Station    31653 non-null  object
 10  Arrival Destination  31653 non-null  object
 11  Date of Journey      31653 non-null  object
 12  Departure Time       31653 non-null  object
 13  Arrival Time         31653 non-null  object
 14  Actual Arrival Time  29773 non-null  object
 15  Journey Status       31653 non-null  object
 16  Reason for Delay     4172 non-null   object
 17  Refund Request       31653 non-null  object
dtypes: int64(1), object(17)
memory usage: 4.3+ MB

In [6]:
data["Reason for Delay"] = data["Reason for Delay"].replace("Weather" , "Weather Conditions")
data["Reason for Delay"] = data["Reason for Delay"].replace('Signal Failure', 'Signal failure')

In [7]:
data["Date of Purchase"] = pd.to_datetime(data["Date of Purchase"] ,format = "%d-%m-%Y")
data["Date of Journey"] = pd.to_datetime(data["Date of Journey"] ,format = "%d-%m-%Y")

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction ID       31653 non-null  object
 1   Date of Purchase     31653 non-null  datetime64[ns]
 2   Time of Purchase     31653 non-null  object
 3   Purchase Type        31653 non-null  object
 4   Payment Method       31653 non-null  object
 5   Railcard             10735 non-null  object
 6   Ticket Class         31653 non-null  object
 7   Ticket Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure Station    31653 non-null  object
 10  Arrival Destination  31653 non-null  object
 11  Date of Journey      31653 non-null  datetime64[ns]
 12  Departure Time       31653 non-null  object
 13  Arrival Time         31653 non-null  object
 14  Actual Arrival Time  29773 non-null  object
 15  Journey Status       31653 non-null  object
 16  Reason for Delay     4172 non-null   object
 17  Refund Request       31653 non-null  object
dtypes: datetime64[ns](2), int64(1), object(15)
memory usage: 4.3+ MB

# 1. Overall Analysis:

* What is the total revenue generated from ticket sales?

In [9]:
revenue = data["Price"].sum()
print(f"Total revenue generated from ticket sales is {revenue}.")

Total revenue generated from ticket sales is 741921.

* How many tickets were sold online versus at the station?

In [10]:
total_sales_online = data["Price"][data["Purchase Type"] == "Online"].count()
total_sales_station = data["Price"][data["Purchase Type"] == "Station"].count()

In [11]:
percintage_of_online = (total_sales_online / (total_sales_online + total_sales_station))*100
percintage_of_station = (total_sales_station / (total_sales_online + total_sales_station))*100

In [12]:
print(f"{round(percintage_of_online - percintage_of_station)}% more tickets were sold online versus at the station.")

17% more tickets were sold online versus at the station.

* What is the average price of tickets sold?

In [13]:
avg = data["Price"].mean()
print(f"Average price of tickets sold is {round(avg, 2)}.")

Average price of tickets sold is 23.44.

# 2. Sales by Time and Date:

* Which date had the highest number of ticket purchases?

In [14]:
answer = data["Date of Purchase"].value_counts().sort_values(ascending = False).head(1)

In [15]:
date = str(str(answer.index[0]).split(" ")[0])
ticket_purchases = answer.values[0]

In [16]:
print(f"{date} had the highest number of ticket purchases total {ticket_purchases}.")

2024-02-02 had the highest number of ticket purchases total 513.

* What time of day sees the most ticket purchases?

In [17]:
temp_df = data.copy()

In [18]:
temp_df["hour"] = temp_df["Time of Purchase"].str.split(":").str[0]

In [19]:
answer = temp_df["hour"].value_counts().sort_values(ascending = False).head(1)

In [20]:
print(f"{answer.index[0]} is the time of the day where most of the tickets are purchased.")

17 is the time of the day where most of the tickets are purchased.

* Is there a correlation between the time of purchase and the price of the ticket?

In [21]:
temp_df.groupby("hour")["Price"].mean()

hour
00    22.920000
01    17.668605
02    25.917445
03    23.109304
04    22.945887
05    27.109195
06    57.962827
07    23.857283
08    18.052291
09    33.221739
10    15.957877
11    18.589502
12    17.734634
13    20.183024
14    17.699304
15    32.816757
16    19.038826
17    18.668978
18    22.671579
19    10.513793
20    17.700313
21    17.092496
22    10.131004
23    20.440771
Name: Price, dtype: float64

In [22]:
print("yes, with the upper data we can see that the most expensive tickets were sold at 6.")

yes, with the upper data we can see that the most expensive tickets were sold at 6.

# 3. Journey and Delays:

* What is the average delay time for delayed journeys?

In [23]:
temp_df2 = data.copy()
temp_df2 = temp_df2[temp_df2["Journey Status"] == "Delayed"]

In [24]:
temp_df2["Arrival Time"] = pd.to_datetime(temp_df2["Arrival Time"] ,format = "%H:%M:%S")
temp_df2["Actual Arrival Time"] = pd.to_datetime(temp_df2["Actual Arrival Time"] ,format = "%H:%M:%S")

In [25]:
temp_df2["delayed time"] = temp_df2["Actual Arrival Time"] - temp_df2["Arrival Time"]

In [26]:
from datetime import timedelta

In [27]:
avg_time = temp_df2["delayed time"].mean()
seconds = avg_time.seconds
hours, remainder = divmod(seconds, 3600)
minutes, seconds = divmod(remainder, 60)

In [28]:
print(f"Average delay time for delayed journeys is {minutes} minutes and {seconds} seconds.")

Average delay time for delayed journeys is 42 minutes and 12 seconds.

* Which station pair had the highest number of delayed journeys?

In [29]:
answer = temp_df2.groupby(["Departure Station","Arrival Destination"])["Journey Status"].count().sort_values(ascending = False).head(1)

In [30]:
Departure_Station = answer.index[0][0]
Arrival_Destination = answer.index[0][1]
print(f"Combination of {Departure_Station} and {Arrival_Destination} has the highest number of delayed journey.")

Combination of Liverpool Lime Street and London Euston has the highest number of delayed journey.

* What are the common reasons for delays?

In [31]:
answer = temp_df2["Reason for Delay"].value_counts().sort_values(ascending = False).head(1).index[0]

In [32]:
print(f"{answer} is the most common reason for delay.")

Weather Conditions is the most common reason for delay.

# 4. Purchase and Payment Methods:

* Which payment method is most commonly used?

In [33]:
answer = data["Payment Method"].value_counts().sort_values(ascending = False).head(1).index[0]

In [34]:
print(f"most commonly used payment method is {answer}.")

most commonly used payment method is Credit Card.

* What proportion of tickets are purchased using contactless payments versus credit cards?

In [35]:
data[(data["Payment Method"] == "Contactless") | (data["Payment Method"] == "Credit Card")]["Payment Method"].value_counts()

Payment Method
Credit Card    19136
Contactless    10834
Name: count, dtype: int64

In [36]:
total_purchases_using_Contactless = data["Price"][data["Payment Method"] == "Contactless"].count()
total_purchases_using_CreditCard = data["Price"][data["Payment Method"] == "Credit Card"].count()

In [37]:
percintage_of_Contactless = (total_purchases_using_Contactless / (total_purchases_using_CreditCard + total_purchases_using_Contactless))*100
percintage_of_CreditCard = (total_purchases_using_CreditCard / (total_purchases_using_CreditCard + total_purchases_using_Contactless))*100

In [38]:
print(f"{round(percintage_of_CreditCard - percintage_of_Contactless)}% less tickets are purchased using contactless payments versus credit cards.")

28% less tickets are purchased using contactless payments versus credit cards.

* How does the purchase method (online vs. station) impact the price of the ticket?

In [39]:
data.groupby("Purchase Type")["Price"].mean()

Purchase Type
Online     20.665947
Station    27.350518
Name: Price, dtype: float64

In [40]:
print("from the above data we can se that the average price of ticket purchased on station is higher than the ticket purchased online.")

from the above data we can se that the average price of ticket purchased on station is higher than the ticket purchased online.

# 5. Railcards and Discounts:

* How many tickets were sold with railcard discounts?

In [41]:
answer = data["Railcard"].count()

In [42]:
print(f"{answer} tickets were sold with railcard discounts.")

10735 tickets were sold with railcard discounts.

* Which railcard type is most commonly used?

In [43]:
answer = data["Railcard"].value_counts().sort_values(ascending = False).head(1).index[0]

In [44]:
print(f"{answer} is most commonly used railcard type.")

Adult is most commonly used railcard type.

# 6. Class and Ticket Type:

* How many standard class tickets were sold compared to first-class tickets (if data for first class were present)?

In [45]:
first_class_total_purchases = data["Ticket Class"][data["Ticket Class"] == "First Class"].count()
Standard_total_purchases = data["Ticket Class"][data["Ticket Class"] == "Standard"].count()

In [46]:
first_class_of_Contactless = (first_class_total_purchases / (first_class_total_purchases + Standard_total_purchases))*100
Standard_of_Contactless = (Standard_total_purchases / (first_class_total_purchases + Standard_total_purchases))*100

In [47]:
print(f"{round(Standard_of_Contactless - first_class_of_Contactless)}% more standard class tickets were sold compared to first-class tickets.")

81% more standard class tickets were sold compared to first-class tickets.

* What is the distribution of advance ticket purchases versus other types of tickets (if data for other types were present)?

In [48]:
temp_df = data["Ticket Type"].value_counts().to_frame()

In [49]:
temp_df

             count
Ticket Type
Advance      17561
Off-Peak      8752
Anytime       5340

In [50]:
temp_df["distribution"] = (temp_df["count"]/temp_df["count"].sum())*100

In [51]:
temp_df = temp_df["distribution"].to_frame().reset_index()

In [52]:
print("This is the distribution of advance ticket purchases versus other types of tickets :-\n")
temp_df

This is the distribution of advance ticket purchases versus other types of tickets :-

  Ticket Type  distribution
0     Advance     55.479733
1    Off-Peak     27.649828
2     Anytime     16.870439

# 7. Journey Patterns:

* Which are the top 5 most popular departure and arrival station pairs?

In [53]:
data.groupby(["Departure Station","Arrival Destination"])["Transaction ID"].count().sort_values(ascending = False).head(5).to_frame().reset_index()

       Departure Station    Arrival Destination  Transaction ID
0  Manchester Piccadilly  Liverpool Lime Street            4628
1          London Euston  Birmingham New Street            4209
2     London Kings Cross                   York            3922
3      London Paddington                Reading            3873
4      London St Pancras  Birmingham New Street            3471

 * What is the average journey time between different station pairs?

In [54]:
temp_df3 = data.copy()

In [55]:
temp_df3["Departure Time"] = pd.to_datetime(temp_df3["Departure Time"] ,format = "%H:%M:%S")
temp_df3["Actual Arrival Time"] = pd.to_datetime(temp_df3["Actual Arrival Time"] ,format = "%H:%M:%S")

In [56]:
temp_df3["total time"] = temp_df3["Actual Arrival Time"] - temp_df3["Departure Time"]

In [57]:
temp_df4 = temp_df3.groupby(["Departure Station","Arrival Destination"])["Actual Arrival Time"].mean().to_frame().reset_index()

In [58]:
temp_df4["average Arrival Time"] = temp_df4["Actual Arrival Time"].dt.floor("s").dt.time

In [59]:
temp_df4.drop("Actual Arrival Time" , axis = 1, inplace = True)

In [60]:
temp_df4

        Departure Station    Arrival Destination average Arrival Time
0   Birmingham New Street               Coventry             19:04:59
1   Birmingham New Street              Edinburgh             00:45:00
2   Birmingham New Street  Liverpool Lime Street             15:57:01
3   Birmingham New Street          London Euston             12:58:33
4   Birmingham New Street     London Kings Cross             08:00:00
..                    ...                    ...                  ...
60                   York     Edinburgh Waverley             15:30:00
61                   York                  Leeds             08:40:00
62                   York  Liverpool Lime Street             09:45:00
63                   York           Peterborough             10:35:25
64                   York              Wakefield             08:07:16

[65 rows x 3 columns]

* Are there any stations that have a significantly higher rate of on-time arrivals compared to others?

In [61]:
temp_df5 = data[data["Journey Status"] == "On Time"]["Arrival Destination"].value_counts().to_frame()

In [62]:
temp_df6 = data["Arrival Destination"].value_counts().to_frame()

In [63]:
temp_df7 = pd.merge(temp_df5 , temp_df6 , on = "Arrival Destination")

In [64]:
temp_df7["on time percentage"] = round(((temp_df7["count_x"]/temp_df7["count_y"])*100),2)

In [65]:
temp_df7.sort_values("on time percentage", ascending = False)

                       count_x  count_y  on time percentage
Arrival Destination
Warrington                  15       15              100.00
Cardiff Central             16       16              100.00
Sheffield                  270      272               99.26
Stafford                   186      190               97.89
Crewe                      188      193               97.41
Edinburgh                  150      154               97.40
Wolverhampton              111      115               96.52
Leicester                  321      337               95.25
Edinburgh Waverley         169      178               94.94
Swindon                    216      228               94.74
Nuneaton                   205      219               93.61
London St Pancras          695      749               92.79
Tamworth                   210      227               92.51
Coventry                    60       65               92.31
London Paddington          321      351               91.45
York                      3673     4019               91.39
London Waterloo             62       68               91.18
Reading                   3565     3920               90.94
Peterborough               220      242               90.91
Birmingham New Street     7012     7742               90.57
Manchester Piccadilly     3576     3968               90.12
Oxford                     554      623               88.92
Didcot                      42       48               87.50
Durham                     225      258               87.21
Liverpool Lime Street     4372     5022               87.06
Bristol Temple Meads       123      144               85.42
Nottingham                 132      158               83.54
Doncaster                  173      211               81.99
Leeds                      190      255               74.51
London Kings Cross          33       84               39.29
London Euston              396     1567               25.27

In [66]:
print("we can see from the previous table that we we have only 2 stations which has 100% on time rate but they have very little journeys so we can say Sheffield is the station which has higher rate of on-time arrivals compared to other around 3 percent more but we cant say thant there is any station which has significantly higher rate of on-time arrivals compared to others.")

we can see from the previous table that we we have only 2 stations which has 100% on time rate but they have very little journeys so we can say Sheffield is the station which has higher rate of on-time arrivals compared to other around 3 percent more but we cant say thant there is any station which has significantly higher rate of on-time arrivals compared to others.

# 8. Refund Requests:

* How many refund requests were made?

In [67]:
temp_df8 = data["Refund Request"].value_counts()

In [68]:
answer = temp_df8[temp_df8.index[1]]

In [69]:
print(f"{answer} refund requests were made.")

1118 refund requests were made.

* Is there a pattern in the refund requests in terms of journey status or reasons for delay?

In [70]:
temp_data1 = data.groupby("Journey Status")["Refund Request"].value_counts().to_frame().unstack()

In [71]:
temp_data1["total"] = temp_data1["count"]["Yes"]+temp_data1["count"]["No"]

In [72]:
print("this shows how many percent people want refund in that category.")
(round(((temp_data1["count"]["Yes"]/temp_data1["total"])*100),2)).to_frame().set_axis(["percentage"], axis = 1)

this shows how many percent people want refund in that category.

                percentage
Journey Status
Cancelled            30.43
Delayed              23.82
On Time                NaN

In [73]:
temp_data2 = data.groupby("Reason for Delay")["Refund Request"].value_counts().to_frame().unstack()

In [74]:
temp_data2["total"] = temp_data2["count"]["Yes"]+temp_data2["count"]["No"]

In [75]:
print("this shows how many percent people want refund in that category.")
(round(((temp_data2["count"]["Yes"]/temp_data2["total"])*100),2)).to_frame().sort_values(0 , ascending = False).set_axis(["percentage"], axis = 1)

this shows how many percent people want refund in that category.

                    percentage
Reason for Delay
Technical Issue          54.88
Staffing                 44.39
Traffic                  38.54
Signal failure           22.16
Staff Shortage           19.80
Weather Conditions        9.69

* What percentage of delayed journeys resulted in a refund request?

In [76]:
temp_df9 = data[data["Journey Status"] == "Delayed"]

In [77]:
num_of_delay = temp_df9["Refund Request"].count()

In [78]:
refund_requests = temp_df9["Refund Request"].value_counts().to_frame().values[1][0]

In [79]:
answer = round((refund_requests/num_of_delay)*100)

In [80]:
print(f"{answer}% of delayed journeys resulted in a refund request.")

24% of delayed journeys resulted in a refund request.