In [1]:
import pandas as pd

In [2]:
org_data = pd.read_csv("railway.csv")

In [3]:
data = org_data.copy()

In [4]:
data.sample(5)

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
19650,2a48de5e-c22c-48bd-b0d6,15-03-2024,18:11:06,Online,Credit Card,Senior,Standard,Anytime,31,London St Pancras,Leicester,15-03-2024,18:45:00,19:45:00,19:45:00,On Time,NaN,No
14667,009fbe41-bf3e-4ae2-9fa1,18-02-2024,17:37:27,Station,Debit Card,Disabled,Standard,Advance,4,London Euston,Birmingham New Street,27-02-2024,16:00:00,17:20:00,18:19:00,Delayed,Weather,No
29551,ff9f7be0-e025-4e78-af1a,22-04-2024,16:08:16,Station,Credit Card,Adult,Standard,Anytime,9,London Euston,Birmingham New Street,22-04-2024,17:45:00,19:05:00,19:05:00,On Time,NaN,No
25641,b9d39efd-f662-4759-86d6,08-04-2024,09:31:13,Online,Contactless,NaN,Standard,Off-Peak,12,London St Pancras,Birmingham New Street,08-04-2024,11:00:00,12:20:00,12:20:00,On Time,NaN,No
446,96f4660d-6f44-4a37-81b3,03-01-2024,07:25:28,Online,Contactless,NaN,First Class,Anytime,54,London Paddington,Reading,03-01-2024,08:45:00,09:45:00,09:45:00,On Time,NaN,No

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction ID       31653 non-null  object
 1   Date of Purchase     31653 non-null  object
 2   Time of Purchase     31653 non-null  object
 3   Purchase Type        31653 non-null  object
 4   Payment Method       31653 non-null  object
 5   Railcard             10735 non-null  object
 6   Ticket Class         31653 non-null  object
 7   Ticket Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure Station    31653 non-null  object
 10  Arrival Destination  31653 non-null  object
 11  Date of Journey      31653 non-null  object
 12  Departure Time       31653 non-null  object
 13  Arrival Time         31653 non-null  object
 14  Actual Arrival Time  29773 non-null  object
 15  Journey Status       31653 non-null  object
 16  Reason for Delay     4172 non-null   object
 17  Refund Request       31653 non-null  object
dtypes: int64(1), object(17)
memory usage: 4.3+ MB

In [6]:
data["Reason for Delay"] = data["Reason for Delay"].replace("Weather" , "Weather Conditions")
data["Reason for Delay"] = data["Reason for Delay"].replace('Signal Failure', 'Signal failure')

In [7]:
data["Date of Purchase"] = pd.to_datetime(data["Date of Purchase"] ,format = "%d-%m-%Y")
data["Date of Journey"] = pd.to_datetime(data["Date of Journey"] ,format = "%d-%m-%Y")

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction ID       31653 non-null  object
 1   Date of Purchase     31653 non-null  datetime64[ns]
 2   Time of Purchase     31653 non-null  object
 3   Purchase Type        31653 non-null  object
 4   Payment Method       31653 non-null  object
 5   Railcard             10735 non-null  object
 6   Ticket Class         31653 non-null  object
 7   Ticket Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure Station    31653 non-null  object
 10  Arrival Destination  31653 non-null  object
 11  Date of Journey      31653 non-null  datetime64[ns]
 12  Departure Time       31653 non-null  object
 13  Arrival Time         31653 non-null  object
 14  Actual Arrival Time  29773 non-null  object
 15  Journey Status       31653 non-null  object
 16  Reason for Delay     4172 non-null   object
 17  Refund Request       31653 non-null  object
dtypes: datetime64[ns](2), int64(1), object(15)
memory usage: 4.3+ MB

# 1. Overall Analysis:

* What is the total revenue generated from ticket sales?

In [9]:
revenue = data["Price"].sum()
print(f"Total revenue generated from ticket sales is {revenue}.")

Total revenue generated from ticket sales is 741921.

* How many tickets were sold online versus at the station?

In [10]:
total_sales_online = data["Price"][data["Purchase Type"] == "Online"].count()
total_sales_station = data["Price"][data["Purchase Type"] == "Station"].count()

In [11]:
percintage_of_online = (total_sales_online / (total_sales_online + total_sales_station))*100
percintage_of_station = (total_sales_station / (total_sales_online + total_sales_station))*100

In [12]:
print(f"{round(percintage_of_online - percintage_of_station)}% more tickets were sold online versus at the station.")

17% more tickets were sold online versus at the station.

* What is the average price of tickets sold?

In [13]:
avg = data["Price"].mean()
print(f"Average price of tickets sold is {round(avg, 2)}.")

Average price of tickets sold is 23.44.

# 2. Sales by Time and Date:

* Which date had the highest number of ticket purchases?

In [14]:
answer = data.groupby("Date of Purchase")["Transaction ID"].count().sort_values(ascending = False).head(1)

In [15]:
date = str(str(answer.index[0]).split(" ")[0])
ticket_purchases = answer.values[0]

In [16]:
print(f"{date} had the highest number of ticket purchases total {ticket_purchases}.")

2024-02-02 had the highest number of ticket purchases total 513.

* What time of day sees the most ticket purchases?

In [17]:
temp_df = data.copy()

In [18]:
temp_df["hour"] = temp_df["Time of Purchase"].str.split(":").str[0]

In [19]:
answer = temp_df.groupby("hour")["Transaction ID"].count().sort_values(ascending = False).head(1)

In [20]:
print(f"{answer.index[0]} is the time of the day where most of the tickets are purchased.")

17 is the time of the day where most of the tickets are purchased.

* Is there a correlation between the time of purchase and the price of the ticket?

In [21]:
temp_df.groupby("hour")["Price"].mean()

hour
00    22.920000
01    17.668605
02    25.917445
03    23.109304
04    22.945887
05    27.109195
06    57.962827
07    23.857283
08    18.052291
09    33.221739
10    15.957877
11    18.589502
12    17.734634
13    20.183024
14    17.699304
15    32.816757
16    19.038826
17    18.668978
18    22.671579
19    10.513793
20    17.700313
21    17.092496
22    10.131004
23    20.440771
Name: Price, dtype: float64

In [22]:
print("yes, with the upper data we can see that the most expensive tickets were sold at 6.")

yes, with the upper data we can see that the most expensive tickets were sold at 6.

# 3. Journey and Delays:

* What is the average delay time for delayed journeys?

In [23]:
temp_df2 = data.copy()
temp_df2 = temp_df2[temp_df2["Journey Status"] == "Delayed"]

In [24]:
temp_df2["Departure Time"] = pd.to_datetime(temp_df2["Departure Time"] ,format = "%H:%M:%S")
temp_df2["Arrival Time"] = pd.to_datetime(temp_df2["Arrival Time"] ,format = "%H:%M:%S")
temp_df2["Actual Arrival Time"] = pd.to_datetime(temp_df2["Actual Arrival Time"] ,format = "%H:%M:%S")

In [25]:
temp_df2["delayed time"] = temp_df2["Actual Arrival Time"] - temp_df2["Arrival Time"]

In [26]:
from datetime import timedelta

In [27]:
avg_time = temp_df2["delayed time"].mean()
seconds = avg_time.seconds
hours, remainder = divmod(seconds, 3600)
minutes, seconds = divmod(remainder, 60)

In [28]:
print(f"Average delay time for delayed journeys is {minutes} minutes and {seconds} seconds.")

Average delay time for delayed journeys is 42 minutes and 12 seconds.

* Which station pair had the highest number of delayed journeys?

In [29]:
answer = temp_df2.groupby(["Departure Station","Arrival Destination"])["Journey Status"].count().sort_values(ascending = False).head(1)

In [30]:
Departure_Station = answer.index[0][0]
Arrival_Destination = answer.index[0][1]
print(f"Combination of {Departure_Station} and {Arrival_Destination} has the highest number of delayed journey.")

Combination of Liverpool Lime Street and London Euston has the highest number of delayed journey.

* What are the common reasons for delays?

In [35]:
answer = temp_df2.groupby("Reason for Delay")["Journey Status"].count().sort_values(ascending = False).head(1).index[0]

In [36]:
print(f"{answer} is the most common reason for delay.")

Weather Conditions is the most common reason for delay.

# 4. Purchase and Payment Methods:

* Which payment method is most commonly used?

In [47]:
answer = data.groupby("Payment Method")["Transaction ID"].count().sort_values(ascending = False).head(1).index[0]

In [49]:
print(f"most commonly used payment method is {answer}.")

most commonly used payment method is Credit Card.

* What proportion of tickets are purchased using contactless payments versus credit cards?

In [56]:
data[(data["Payment Method"] == "Contactless") | (data["Payment Method"] == "Credit Card")].groupby("Payment Method")["Transaction ID"].count()

Payment Method
Contactless    10834
Credit Card    19136
Name: Transaction ID, dtype: int64

In [57]:
total_purchases_using_Contactless = data["Price"][data["Payment Method"] == "Contactless"].count()
total_purchases_using_CreditCard = data["Price"][data["Payment Method"] == "Credit Card"].count()

In [59]:
percintage_of_Contactless = (total_purchases_using_Contactless / (total_purchases_using_CreditCard + total_purchases_using_Contactless))*100
percintage_of_CreditCard = (total_purchases_using_CreditCard / (total_purchases_using_CreditCard + total_purchases_using_Contactless))*100

In [64]:
print(f"{round(percintage_of_CreditCard - percintage_of_Contactless)}% less tickets are purchased using contactless payments versus credit cards.")

28% less tickets are purchased using contactless payments versus credit cards.

* How does the purchase method (online vs. station) impact the price of the ticket?

In [69]:
data.groupby("Purchase Type")["Price"].mean()

Purchase Type
Online     20.665947
Station    27.350518
Name: Price, dtype: float64

In [71]:
print("from the above data we can se that the average price of ticket purchased on station is higher than the ticket purchased online.")

from the above data we can se that the average price of ticket purchased on station is higher than the ticket purchased online.