# Music Store Analysis

### Please note that you can see some data different from the video because the provided data is bit different from which used in the video. you can se the difference clearly if you run the average command separately from moderate question number 3.

# Connecting jupyter notebook to database

In [1]:
import mysql.connector

In [2]:
data_base = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "123456",
    database = "music_store"
)
mycursor = data_base.cursor()

# Question Set 1 - Easy

## 1. Who is the senior most employee based on job title?

In [3]:
mycursor.execute("SELECT CONCAT(first_name,' ',last_name) FROM music_store.employee ORDER BY levels DESC LIMIT 1")

In [4]:
for x in mycursor:
    print(x)

('Andrew Adams',)

## 2. Which countries have the most Invoices?

In [5]:
mycursor.execute("""
                    SELECT billing_country, COUNT(*) AS total_count FROM music_store.invoice
                    GROUP BY billing_country
                    ORDER BY total_count DESC 
                    LIMIT 1
                    """)

In [6]:
for x in mycursor:
    print(x)

('USA', 131)

## 3. What are top 3 values of total invoice?

In [7]:
mycursor.execute("""
                    SELECT * FROM music_store.invoice
                    ORDER BY total DESC
                    LIMIT 3
                    """)

In [8]:
for x in mycursor:
    print(x)

(183, 42, '2018-02-09 00:00:00', '9, Place Louis Barthou', 'Bordeaux', 'None', 'France', '33000', 23.759999999999998)
(92, 32, '2017-07-02 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 19.8)
(526, 5, '2020-06-08 00:00:00', 'Klanova 9/506', 'Prague', 'None', 'Czech Republic', '14700', 19.8)

## 4. Which city has the best customers? We would like to throw a promotional Music Festival in the city we made the most money. Write a query that returns one city that has the highest sum of invoice totals. Return both the city name & sum of all invoice totals

In [9]:
mycursor.execute("""
                    SELECT billing_country, SUM(total) AS total_invoice FROM music_store.invoice
                    GROUP BY billing_country
                    ORDER BY total_invoice DESC 
                    LIMIT 1
                    """)

In [10]:
for x in mycursor:
    print(x)

('USA', 1040.4899999999998)

## 5. Who is the best customer? The customer who has spent the most money will be declared the best customer. Write a query that returns the person who has spent the most money

In [11]:
mycursor.execute("""
                    SELECT customer.customer_id,first_name , last_name, SUM(invoice.total) AS total_spending FROM music_store.customer
                    JOIN music_store.invoice 
                    ON customer.customer_id = invoice.customer_id
                    GROUP BY customer.customer_id, first_name , last_name
                    ORDER BY total_spending DESC
                    LIMIT 1
                    """)

In [12]:
for x in mycursor:
    print(x)

(5, 'FrantiÅ¡ek', 'WichterlovÃ¡', 144.54000000000002)

# Question Set 2 - Moderate

## Q1: Write query to return the email, first name, last name, & Genre of all Rock Music listeners. Return your list ordered alphabetically by email starting with A.

In [13]:
mycursor.execute("""
                    SELECT DISTINCT email,first_name,last_name FROM music_store.customer
                    JOIN music_store.invoice ON customer.customer_id = invoice.customer_id
                    JOIN music_store.invoice_line ON invoice.invoice_id = invoice_line.invoice_id
                    WHERE track_id IN (
                     SELECT track.track_id FROM music_store.track
                     JOIN music_store.genre ON track.genre_id = genre.genre_id
                     WHERE genre.name LIKE "Rock"
                    )
                    ORDER BY email;
                    """)

In [14]:
for x in mycursor:
    print(x)

('aaronmitchell@yahoo.ca', 'Aaron', 'Mitchell')
('alero@uol.com.br', 'Alexandre', 'Rocha')
('astrid.gruber@apple.at', 'Astrid', 'Gruber')
('bjorn.hansen@yahoo.no', 'BjÃ¸rn', 'Hansen')
('camille.bernard@yahoo.fr', 'Camille', 'Bernard')
('daan_peeters@apple.be', 'Daan', 'Peeters')
('diego.gutierrez@yahoo.ar', 'Diego', 'GutiÃ©rrez')
('dmiller@comcast.com', 'Dan', 'Miller')
('dominiquelefebvre@gmail.com', 'Dominique', 'Lefebvre')
('edfrancis@yachoo.ca', 'Edward', 'Francis')
('eduardo@woodstock.com.br', 'Eduardo', 'Martins')
('ellie.sullivan@shaw.ca', 'Ellie', 'Sullivan')
('emma_jones@hotmail.com', 'Emma', 'Jones')
('enrique_munoz@yahoo.es', 'Enrique', 'MuÃ±oz')
('fernadaramos4@uol.com.br', 'Fernanda', 'Ramos')
('fharris@google.com', 'Frank', 'Harris')
('fralston@gmail.com', 'Frank', 'Ralston')
('frantisekw@jetbrains.com', 'FrantiÅ¡ek', 'WichterlovÃ¡')
('ftremblay@gmail.com', 'FranÃ§ois', 'Tremblay')
('fzimmermann@yahoo.de', 'Fynn', 'Zimmermann')
('hannah.schneider@yahoo.de', 'Hannah', 'Schneider')
('hholy@gmail.com', 'Helena', 'HolÃ½')
('hleacock@gmail.com', 'Heather', 'Leacock')
('hughoreilly@apple.ie', 'Hugh', "O'Reilly")
('isabelle_mercier@apple.fr', 'Isabelle', 'Mercier')
('jacksmith@microsoft.com', 'Jack', 'Smith')
('jenniferp@rogers.ca', 'Jennifer', 'Peterson')
('jfernandes@yahoo.pt', 'JoÃ£o', 'Fernandes')
('joakim.johansson@yahoo.se', 'Joakim', 'Johansson')
('johavanderberg@yahoo.nl', 'Johannes', 'Van der Berg')
('johngordon22@yahoo.com', 'John', 'Gordon')
('jubarnett@gmail.com', 'Julia', 'Barnett')
('kachase@hotmail.com', 'Kathy', 'Chase')
('kara.nielsen@jubii.dk', 'Kara', 'Nielsen')
('ladislav_kovacs@apple.hu', 'Ladislav', 'KovÃ¡cs')
('leonekohler@surfeu.de', 'Leonie', 'KÃ¶hler')
('lucas.mancini@yahoo.it', 'Lucas', 'Mancini')
('luisg@embraer.com.br', 'LuÃ\xads', 'GonÃ§alves')
('luisrojas@yahoo.cl', 'Luis', 'Rojas')
('manoj.pareek@rediff.com', 'Manoj', 'Pareek')
('marc.dubois@hotmail.com', 'Marc', 'Dubois')
('mark.taylor@yahoo.au', 'Mark', 'Taylor')
('marthasilk@gmail.com', 'Martha', 'Silk')
('masampaio@sapo.pt', 'Madalena', 'Sampaio')
('mphilips12@shaw.ca', 'Mark', 'Philips')
('nschroder@surfeu.de', 'Niklas', 'SchrÃ¶der')
('patrick.gray@aol.com', 'Patrick', 'Gray')
('phil.hughes@gmail.com', 'Phil', 'Hughes')
('ricunningham@hotmail.com', 'Richard', 'Cunningham')
('rishabh_mishra@yahoo.in', 'Rishabh', 'Mishra')
('robbrown@shaw.ca', 'Robert', 'Brown')
('roberto.almeida@riotur.gov.br', 'Roberto', 'Almeida')
('stanisÅ‚aw.wÃ³jcik@wp.pl', 'StanisÅ‚aw', 'WÃ³jcik')
('steve.murray@yahoo.uk', 'Steve', 'Murray')
('terhi.hamalainen@apple.fi', 'Terhi', 'HÃ¤mÃ¤lÃ¤inen')
('tgoyer@apple.com', 'Tim', 'Goyer')
('vstevens@yahoo.com', 'Victor', 'Stevens')
('wyatt.girard@yahoo.fr', 'Wyatt', 'Girard')

## Q2: Let's invite the artists who have written the most rock music in our dataset. Write a query that returns the Artist name and total track count of the top 10 rock bands.

In [15]:
mycursor.execute("""
                    SELECT artist.artist_id, artist.name,COUNT(artist.artist_id) AS number_of_songs FROM track
                    JOIN album ON album.album_id = track.album_id
                    JOIN artist ON artist.artist_id = album.artist_id
                    JOIN genre ON genre.genre_id = track.genre_id
                    WHERE genre.name LIKE 'Rock'
                    GROUP BY artist.artist_id ,  artist.name
                    ORDER BY number_of_songs DESC
                    LIMIT 10;
                    """)

In [16]:
for x in mycursor:
    print(x)

(1, 'AC/DC', 18)
(3, 'Aerosmith', 15)
(8, 'Audioslave', 14)
(22, 'Led Zeppelin', 14)
(4, 'Alanis Morissette', 13)
(5, 'Alice In Chains', 12)
(23, 'Frank Zappa & Captain Beefheart', 9)
(2, 'Accept', 4)

## Q3: Return all the track names that have a song length longer than the average song length. Return the Name and Milliseconds for each track. Order by the song length with the longest songs listed first.

In [17]:
mycursor.execute("""
                    SELECT name , milliseconds FROM music_store.track
                    WHERE milliseconds > (
                     SELECT AVG(milliseconds) FROM music_store.track
                    )
                    ORDER BY milliseconds DESC;
                    """)

In [18]:
for x in mycursor:
    print(x)

('How Many More Times', 711836)
('Advance Romance', 677694)
('Sleeping Village', 644571)
('You Shook Me(2)', 619467)
("Talkin' 'Bout Women Obviously", 589531)
('Stratus', 582086)
('No More Tears', 555075)
('The Alchemist', 509413)
('Wheels Of Confusion / The Straightener', 494524)
('Book Of Thel', 494393)
('You Oughta Know (Alternate)', 491885)
('Terra', 482429)
("Snoopy's search-Red baron", 456071)
('Sozinho (Hitmakers Classic Mix)', 436636)
('Master Of Puppets', 436453)
('Stone Crazy', 433397)
('Snowblind', 420022)
('Computadores Fazem Arte', 404323)
('Jerusalem', 402390)
('Dazed and Confused', 401920)
('The Winner Loses', 392254)
('Love, Hate, Love', 387134)
('ConstruÃ§Ã£o / Deus Lhe Pague', 383059)
('Black Sabbath', 382066)
("Livin' On The Edge", 381231)
("I Can't Quit You Baby(2)", 380551)
('Princess of the Dawn', 375418)
('Harvester Of Sorrow', 374543)
('Whole Lotta Love', 373394)
("Momma's Gotta Die Tonight", 371539)
('Vai Passar', 369763)
('Wherever I May Roam', 369345)
('Overdose', 369319)
('N.I.B.', 368770)
('O Boto (BÃ´to)', 366837)
('Let There Be Rock', 366654)
('The Begining... At Last', 365662)
('Carolina Hard-Core Ecstasy', 359680)
('World Of Trouble', 359157)
('Trupets Of Jericho', 359131)
('Amazing', 356519)
('Under The Sun/Every Day Comes and Goes', 350458)
('Welcome Home (Sanitarium)', 350197)
('There Goes The Neighborhood', 350171)
('Sea Of Sorrow', 349831)
('Confusion', 344163)
('For Those About To Rock (We Salute You)', 343719)
('Shadow on the Sun', 343457)
('Balls to the Wall', 342562)
('Machine Men', 341655)
('I am the Highway', 334942)
('Muffin Man', 332878)
('Snowblind', 331676)
('Go Down', 331180)
("Janie's Got A Gun", 330736)
("Bring'em Back Alive", 329534)
("Sozinho (CaÃªdrum 'n' Bass)", 328071)
('Problem Child', 325041)
('Whole Lotta Rosie', 323761)
('Intro/ Low Down', 323683)
('The Unforgiven', 322925)
('Love In An Elevator', 321828)
('Super Terrorizer', 319373)
('The pleasant pheasant', 318066)
('Body Count', 317936)
('Geni E O Zepelim', 317570)
('The Last Remaining Light', 317492)
('Crazy', 316656)
('You Shook Me', 315951)
('Travelling Riverside Blues', 312032)
('Noite Do Prazer', 311353)
('What It Takes', 310622)
('The Curse', 309786)
("Cryin'", 309263)
('Creeping Death', 308035)
('Angel', 307617)
('AtrÃ¡s Da Verd-E-Rosa SÃ³ NÃ£o Vai Quem JÃ¡ Morreu', 307252)
('Banditismo Por Uma Questa', 307095)
('Extra', 304352)
('Light My Way', 303595)
('Stronger Than Death', 300747)
('Voodoo', 300721)
('Forgiven', 300355)
('Getaway Car', 299598)
('Linha Do Equador', 299337)
('#1 Zero', 299102)
('Onde VocÃª Mora?', 298396)
('Walk On Water', 295680)
('Mel', 294765)
('Moon germs', 294060)
('Like a Stone', 294034)
('Wake Up', 293485)
('Out Of Exile', 291291)
('Na Frente Da TV', 289750)
('Sad But True', 288208)
('Rios Pontes & Overdrives', 286720)
('Man In The Box', 286641)
('Changes', 286275)
('Supernaut', 285779)
('The Tower', 285257)
('A Sombra Da Maldade', 285231)
('Garota De Ipanema', 285048)
('Sunshine', 284969)
('All I Really Want', 284891)
('Blood In The Wall', 284368)
('Maracatu AtÃ´mico', 284264)
('Lost My Better Half', 284081)
('Bye, Bye Brasil', 283402)
('King In Crimson', 283167)
('Gavioes 2001', 282723)
('A Estrada', 282174)
('Born To Booze', 282122)
('Vida Boa', 281730)
('Freedom Of Speech', 281234)
('Mary Jane', 280607)
('Be Yourself', 279484)
('Gasoline', 279457)
('Dandelion', 278125)
('Show Me How to Live', 277890)
("It Ain't Like That", 277577)
("Heaven's Dead", 276688)
('Like A Bird', 276532)
('Vai-Vai 2001', 276349)
('Flor Do Futuro', 275748)
('Do what cha wanna', 274155)
('X-9 2001', 273920)
('Yesterday To Tomorrow', 273763)
('Phoney Smile Fake Hellos', 273606)
('Maracatu AtÃ´mico [Atomic Version]', 273084)
('A Cor Do Sol', 273031)
('200 Years Old', 272561)
('Samidarish [instrumental]', 272431)
('The Beginning...At Last', 271960)
('Canta, Canta Mais', 271856)
('Samba Makossa', 271856)
('Spellbound', 270863)
('Killing Floor', 269557)
('Bad Boy Boogie', 267728)
('Head Over Feet', 267493)
('SÃ¡bado A Noite', 267363)
('Felicidade Urgente', 266605)
('A.N.D.R.O.T.A.Z.', 266266)
('Gates Of Urizen', 265351)
('Dude (Looks Like A Lady)', 264855)
('The Wizard', 264829)
('Rag Doll', 264698)
('FÃ©rias', 264202)
("I Can't Quit You Baby", 263836)
('Evil Walks', 263497)
('Breaking The Rules', 263288)
('Set It Off', 263262)
('I Know Somethin (Bout You)', 261955)
('Quadrant', 261851)
('What is and Should Never Be', 260675)
('Meu Caro Amigo', 260257)
('ConciliaÃ§Ã£o', 257619)
('Onde VocÃª Mora?', 256026)
("Doesn't Remind Me", 255869)
('Your Time Has Come', 255529)
('Johnny B. Goode', 254615)
("Hell Ain't A Bad Place To Be", 254380)
('Amor Demais', 254040)
('Cada Um Cada Um (A Namoradeira)', 253492)
('Dindi (Dindi)', 253178)
('Restless and Wild', 252051)
('Ligia', 251977)
('A Luz De Tieta', 251742)
('Da Lama Ao Caos', 251559)